name: Rust

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        toolchain: [stable, beta]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        experimental: [false]
        include:
          - toolchain: nightly
            experimental: true
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.toolchain }}
        override: true
    - run: cargo build --features ci
    - run: cargo test --features ci